   body{
            margin: 0;
            padding: 0;
        }
        div.nav {
            background-color: #eeeeee;
            border-bottom: 1px solid #cccccc;
            padding: 5px 10px;
        }
        div.nav a{
            text-decoration: none;
        }
        div.nav a.logo{
            display: inline-block;
        }